# Videos personales
*.mp4
*.mov
*.avi
*.gif

# Fotos personales (NO imágenes del blog)
*.jpg
*.JPG
*.jpeg
IMG_*

# Archivos comprimidos y temporales
*.zip
*.txt
uploads/
yo/
FOTOS/

# Archivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# Portada old
portada the wire_files/

.vercel
